@mixin link
  display: flex
  align-items: center
  justify-content: center
  color: white
  background-color: #313464
  border-radius: 50%
  height: 40px
  min-width: 40px
  text-decoration: none
  cursor: pointer
  user-select: none
  border: 0
  
.article-page
  display: grid
  grid-template-columns: 100%
  grid-template-rows: auto 1fr 70px

  header
    display: flex
    align-items: center
    padding: 35px 20px
    background-color: #0E1D3C
    color: white
    h2
      margin: 0 20px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    a
      @include link
    
    *
      user-select: none

  .add-comment
    position: fixed
    bottom: 0
    left: 0
    height: auto
    display: grid
    grid-template-columns: 1fr auto
    grid-gap: 10px
    width: calc(100% - 20px)
    padding: 10px
    background-color: lightgrey

    input[type="text"]
      background-color: white
      border: 0
      padding: 10px
      font-size: 18px
      border-radius: 5px
      min-width: 100px
    
    input.send
      @include link
      