.main-body
  header
    display: flex
    flex-direction: column
    padding: 30px 20px
    background-color: #0E1D3C
    color: white

    h1, h4
      margin: 0
      
    h4
      font-size: 12px
    
    *
      user-select: none
  
  .new-item
    display: flex
    align-items: center
    justify-content: center
    padding: 20px
    a
      display: flex
      justify-content: center
      align-items: center
      min-width: 50px
      height: 50px
      border-radius: 50%
      color: #f5a8f0
      font-size: 50px
      font-weight: bold
      background-color: #d4145a
      text-decoration: none
      box-shadow: 1px 2px 5px grey
      user-select: none