.article-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid lightgrey; }
  .article-item .title {
    padding: 10px 20px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    min-width: calc(100% - 90px);
    user-select: none; }
  .article-item .comments-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    background-color: #313464;
    color: white;
    user-select: none; }
  .article-item .delete-item {
    position: relative;
    top: 0;
    right: -70px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right 0.3s;
    background-color: #d4145a;
    padding: 20px 10px;
    color: white;
    cursor: pointer;
    user-select: none; }
  .article-item:hover .delete-item {
    right: 90px; }
