.article-item
  $delete-item-width: 70px
  display: flex
  align-items: center
  overflow: hidden
  border-bottom: 1px solid lightgrey
  .title
    padding: 10px 20px
    font-size: 18px
    overflow: hidden
    text-overflow: ellipsis
    text-decoration: none
    white-space: nowrap
    color: black
    min-width: calc(100% - 90px)
    user-select: none
  
  .comments-amount
    display: flex
    align-items: center
    justify-content: center
    margin: 10px
    height: 30px
    min-width: 30px
    border-radius: 50%
    background-color: #313464
    color: white
    user-select: none
  
  .delete-item
    position: relative
    top: 0
    right: -$delete-item-width
    min-width: $delete-item-width
    display: flex
    align-items: center
    justify-content: center
    transition: right .3s
    background-color: #d4145a
    padding: 20px 10px
    color: white
    cursor: pointer
    user-select: none

  &:hover
    .delete-item
      right: $delete-item-width + 20px