.comment {
  display: grid;
  grid-template-columns: 70px 1fr; }
  .comment .img {
    width: 50px;
    height: 50px;
    background-color: #313464;
    margin: 10px; }
  .comment .text {
    margin: 10px;
    color: #333; }
