.new-article header {
  display: flex;
  align-items: center;
  padding: 35px 20px;
  background-color: #0E1D3C;
  color: white; }
  .new-article header h2 {
    margin: 0 20px; }
  .new-article header a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #313464;
    border-radius: 50%;
    height: 40px;
    min-width: 40px;
    text-decoration: none;
    border: 0;
    user-select: none; }
  .new-article header * {
    user-select: none; }
.new-article .content {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-gap: 20px;
  align-items: center;
  padding: 20px; }
  .new-article .content input[type="text"] {
    width: 100%;
    padding: 10px 0px;
    border: 0;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    min-width: 100px; }
  .new-article .content .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #313464;
    border-radius: 50%;
    height: 40px;
    min-width: 40px;
    text-decoration: none;
    border: 0;
    user-select: none; }
